@{
  Layout = "_Layout";
}
<div>
@using PierreSupply.Models;

  <p>
  <h3>Vendor Name: @Model["vendor"].Name</h3>
  <h5>Description: <p> @Model["vendor"].Description</h5>
  </p>
</div>
<div>@if (@Model["orders"].Count == 0)
  {
    <h3>No orders have been added yet!</h3>
    <a href='/vendors/@Model["vendor"].Id/orders/new'> New Order </a>
  } 
  else 
  {
    <h4>Here are all the Orders for this @Model["vendor"].Name:</h4>
  <ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title : @order.Date</a></li>
  }
  </ol>
  <a href='/vendors/@Model["vendor"].Id/orders/new'> New Order </a>
  }
</div>
<div>
  <p><a href='/vendors'> Vendor list </a><a href='/'> Home</a></p>
</div>